.ImageLinkForm {
  background-color: #0b0c1051;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 400px;
  margin: 48px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  .LogoImage {
    margin-top: 48px;
    width: 96px;
    height: 96px;
    margin-bottom: 72px;
  }
  .Form {
    width: 100%;
    label {
      color: #c5c6c7;
      margin-bottom: 8px;
    }
    input {
      padding: 6px 0;
      background-color: transparent;
      border: none;
      outline: none;
      color: #66fcf1;
      border-bottom: 1px solid #c5c6c7;
      transition: border-color 1150ms #66fcf1;
      width: 100%;
      &:focus {
        border-color: 1px solid #66fcf1;
      }
    }
    button {
      margin: 24px auto;
      display: block;
      border: 2px solid #66fcf1;
      border-radius: 5px;
      padding: 10px 24px;
      background: transparent;
      backdrop-filter: blur(5px);
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: all 150ms ease-out;
      cursor: pointer;
      &:hover {
        box-shadow: #45a29e 0px 0px 15px;
      }
    }
    .LockButton {
      border: 2px solid #45a29e;
      color: #c5c6c7;
      cursor: wait;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
