.Rank {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  .RankWrapper {
    text-align: center;
    color: white;

    .RankInfo {
      font-size: 36px;
      font-weight: 500;
    }
    .RankPosition {
      font-size: 48px;
    }
  }
}
