.Rank {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  .RankWrapper {
    text-align: center;

    .RankInfo {
      font-weight: 500;
      font-size: 32px;
      color: #c5c6c7;
    }
    .RankPosition {
      font-size: 36px;
      color: #66fcf1;
    }
  }
}
