.Home {
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 24px;
  min-height: 100vh;
  h1 {
    padding-top: 24px;
    text-align: center;
    color: #66fcf1;
  }
  p {
    font-size: 20px;
    margin-top: 20px;
    color: #c5c6c7;
    text-align: center;
  }
}
