.SignIn {
  margin: 100px auto;
  width: 500px;
  padding: 24px;
  border-radius: 5px;
  background-color: #0b0c1051;
  backdrop-filter: blur(5px);
  position: relative;
  h1 {
    color: #66fcf1;
    margin-bottom: 20px;
    font-size: 32px;
  }

  form {
    .FormActions {
      margin-top: 24px;
      button {
        cursor: pointer;
        width: 20%;
        height: 48px;
        border: 2px solid #66fcf1;
        background-color: transparent;
        color: white;
        border-radius: 5px;
        transition: all 150ms ease-out;
        span {
          display: block;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
        &:first-of-type {
          margin-right: 24px;
          &:hover {
            box-shadow: #45a29e 0px 0px 15px;
          }
        }

        &:last-of-type {
          border: none;
          &:hover {
            color: #66fcf1;
          }
        }
      }
    }

    .FormGroup {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 8px;
        color: #c5c6c7;
      }
      input {
        padding: 6px 0;
        outline: none;
        border: none;
        border-bottom: 2px solid #c5c6c7;
        background-color: transparent;
        color: #66fcf1;
        transition: border-color 300ms ease-in;

        &:focus {
          border-color: #66fcf1;
        }
      }
      .GroupTextMuted {
        margin-top: 4px;
        margin-bottom: 2px;
        font-size: 12px;
        text-align: right;
        color: #c5c6c7;
      }
    }
  }
  .ErrorMsg {
    margin-top: 24px;
    color: #ff5733;
    font-weight: 500;
  }
}

.SigninLoading {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    display: block;
    padding-top: 15px;
    font-weight: 600;
    color: #66fcf1;
  }
}
.SigninLoading:before {
  -webkit-animation: scan 1s infinite;
  animation: scan 1s infinite;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #66fcf1), color-stop(20%, transparent), to(transparent)),
    -webkit-gradient(linear, left bottom, left top, color-stop(20%, #66fcf1), color-stop(20%, transparent), to(transparent));
  background: linear-gradient(90deg, #66fcf1 20%, transparent 20%, transparent), linear-gradient(0deg, #66fcf1 20%, transparent 20%, transparent);
  background-size: 50px 50px;
  border: 5px solid #66fcf1;
  content: "";
  height: 50px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 50px;
}
@-webkit-keyframes scan {
  0% {
    background-position: -5px 0;
  }
  50% {
    background-position: 40px 0;
  }
  100% {
    background-position: 40px 50px;
  }
}
@keyframes scan {
  0% {
    background-position: -5px 0;
  }
  50% {
    background-position: 40px 0;
  }
  100% {
    background-position: 40px 50px;
  }
}
