.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 64px;
  background: transparent;
  backdrop-filter: blur(5px);
  background: #0b0c1051;
  padding: 0 24px;
  z-index: 100;
  .HeaderWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Navigation {
    display: flex;
    height: 100%;

    .NavigationOption {
      padding-top: 3px;
      display: flex;
      font-size: 18px;
      justify-content: center;
      align-items: center;
      color: #66fcf1;
      background-color: transparent;
      height: 100%;
      border-bottom: 3px solid transparent;
      width: 70px;
      min-width: fit-content;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 24px;
      }
      &:hover {
        border-bottom-color: #66fcf1;
        box-shadow: rgba(102, 252, 241, 0.1) 0px 5px, rgba(102, 252, 241, 0.05) 0px 10px;
        cursor: pointer;
      }
    }
  }
}
