.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  color: #c5c6c7;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background: #0b0c1051;
  width: 100%;
  height: 200px;
}
