.FaceRecognition {
  max-width: 500px;
  max-height: 500px;
  margin: 48px auto;
  .FaceRecognitionWrapper {
    position: relative;
    img {
      scroll-margin: 112px;
    }
    .Hidden {
      display: none;
    }
    .BoundingBox {
      position: absolute;
      box-shadow: 0 0 0 3px #1a66b8;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      cursor: pointer;
    }
    .LoadingBoxes {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(5px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        padding-top: 15px;
        font-weight: 600;
        color: #66fcf1;
      }
    }
    .LoadingBoxes:before {
      -webkit-animation: scan 1s infinite;
      animation: scan 1s infinite;
      background: -webkit-gradient(linear, left top, right top, color-stop(20%, #66fcf1), color-stop(20%, transparent), to(transparent)),
        -webkit-gradient(linear, left bottom, left top, color-stop(20%, #66fcf1), color-stop(20%, transparent), to(transparent));
      background: linear-gradient(90deg, #66fcf1 20%, transparent 20%, transparent), linear-gradient(0deg, #66fcf1 20%, transparent 20%, transparent);
      background-size: 50px 50px;
      border: 5px solid #66fcf1;
      content: "";
      height: 50px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 50px;
    }
  }
}
@-webkit-keyframes scan {
  0% {
    background-position: -5px 0;
  }
  50% {
    background-position: 40px 0;
  }
  100% {
    background-position: 40px 50px;
  }
}
@keyframes scan {
  0% {
    background-position: -5px 0;
  }
  50% {
    background-position: 40px 0;
  }
  100% {
    background-position: 40px 50px;
  }
}
